.btn-tamanho {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 1px 5px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-tamanho.clicked {
    background-color: #000000;
    color: #ffffff;
}

h3{
    margin-top: 55px;
}

.tamanhos{
    margin-top: -20px;
}
