/*----------------------------- cabeçalho --------------------------*/

/*----------------------------- cabeçalho --------------------------*/

.gallery {
    text-align: center;
}

figure {
    display: inline-block;
    margin: 80px;
    justify-content: space-between;
}

figcaption {
    margin-top: 10px;
}

figcaption a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

figcaption a:hover {
    text-decoration: underline;
}

img {
    width: 250px;
    /* Tamanho das imagens */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 5px; /* Bordas arredondadas */
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 80px;
    text-align: center;
}

.mais-vendidos {
    text-align: center;
}

#loadMoreButton:hover {
    background-color: #0056b3;
    /* Cor de fundo azul mais escura ao passar o mouse */
}

.descricao {
    margin-top: 20px; /* Ajuste conforme necessário */
    margin-left: 20px; /* Ajuste conforme necessário */
}

ol {
    margin-top: 10px;
}

.descricao.info {
    display: flex; /* Adiciona um layout flexível */
    flex-direction: column; /* Alinha os itens verticalmente */
}

.descricao h2 {
    margin-top: 0; /* Remove o espaçamento superior */
}

.descricao ol {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Espaçamento superior */
}

.descricao li {
    margin-bottom: 10px; /* Espaçamento inferior */
    margin-left: 0px;
}

.descricao button {
    padding: 10px 20px; /* Adiciona um preenchimento interno */
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 20px; /* Espaçamento superior */
}

.descricao button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

.titulo {
    line-height: 1.75rem;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin-right: 30px;
}

.produto-container {
    display: flex;
    flex-wrap: wrap; /* Para ajustar em telas menores */
    gap: 20px; /* Espaçamento entre o slider e a descrição */
    margin: 20px;
}

.slider {
    flex: 1 1 50%; /* Ajuste a proporção conforme necessário */
    max-width: 50%;
}

.descricao {
    flex: 1 1 50%; /* Ajuste a proporção conforme necessário */
    max-width: 50%;
}

@media (max-width: 768px) {
    .produto-container {
        flex-direction: column;
    }

    .slider, .descricao {
        max-width: 100%;
    }
}
